*{
    margin:0;
    padding:0;
}

:root{
    /* color settings */
    --clr-body-bg: 	#b9a185;
    --clr-card-bg: #dbd4cb;
    --clr-card-border: #6b533c;
    --clr-border-overlay: #6b533c;
    --clr-overlay-transparent: #6b533cc3;
    --clr-overlay-transparent-heavy: #6b533ce9;
    --clr-overlay-transparent-light: #6b533c87;
    --clr-text: #16110d;
    --clr-text-light: #b9a185;
    --clr-text-lighter: #ccc1b3;
    --clr-heading: #0c0b07;
    --clr-title: #ffffff;

    --clr-tool-bg: #b9a185;
    --clr-tool-hover:#ccc1b3;

    --clr-sidebar-bg: #6b533c;
    --clr-highlight: #ddd;
    --clr-selected: rgb(66, 51, 36);

    --clr-scrollbar:#888;
    --clr-scrollbar-hover: #555;

    --overlay-opacity: 0.25;

    /* other settings */
    --text-outline: rgba(0, 0, 0, 0.8);
    --sidebar-width: 150px;
    --focus-time: 0.5s;
    
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

body{
    background-color: var(--clr-body-bg);
}

/* scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-scrollbar);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-scrollbar-hover);
}


/* login display styling */
#login-display{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--clr-overlay-transparent-light);
    z-index: 98;
}

#login-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--clr-overlay-transparent);
    min-width: 300px;
}

/* sidebar styling */
#sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--clr-sidebar-bg);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
    transition: ease 0.4s;
    justify-content: space-between;
    min-height: 100vh;
    gap: 20px;

}
#sidebar.sidebar--minimised{
    transform: translateX(-100%);
}
#sidebar.sidebar--expanded{
    
    transform: none;
}


#sidebar a {
    padding: 0 0 10px 0;
    text-decoration: none;
    font-size: 100%;
    color: var(--clr-text-light);
    display: block;
}
#sidebar a:hover {
    color: var(--clr-text-lighter);
}

#sidebar-profile-container {
    text-align: center;
}

#sidebar-card-button-container{
    padding-bottom: 20px;
}
#sidebar-tab-container, #sidebar-profile-container, #sidebar-card-button-container{
    width: 100%;
}

.tab-button {
    height: 60px;
}

.card-button{
    height: 80px
}
.tab-button, .card-button{
    display: block;
    background-color: inherit;
    color: var(--clr-text);
    padding: none;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 125%
}
/* hover and not selected */
.tab-button:hover:not(.tab-button--pressed), .card-button:hover {
    background-color: var(--clr-highlight);
}
/* selected tab button */
.tab-button.tab-button--pressed {
    background-color: var(--clr-selected);
    color: var(--clr-text-lighta);
}
.expand-button{
    position: fixed;
    left: calc(var(--sidebar-width) + 16px);
    top: 16px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    color: var(--clr-text);
    font-size: 200%;
    border: none;
    text-align: center;
    background-color: #00000000;
    transition: ease 0.4s;
}
.expand-button:hover{
    color: var(--clr-highlight);
}
.expand-button.expand-button--minimised{
    transform: rotate(180deg);
}

/* body styling */
.main{
    margin-left: var(--sidebar-width);
    padding: min(50px, 7%);
}


h1{
    margin: 30px 0;
    color: var(--clr-heading);
}

.hidden{
    opacity: 0; 
    pointer-events: none
}

.card, #placeholder{
    --entry-id: 0;
    --entry-image: 0;
    --title: ;
    --rating: ;
    --category-id: ;
    --image-id: 0;
    --canv-left: 0px;
    --canv-top: 0px;

    border: 1px solid var(--clr-card-border);
    border-radius: 10px;
    background-color:var(--clr-card-bg);
    text-align: center;
    background-image: var(--entry-image);
    background-repeat: no-repeat;
    background-size: 100% auto;
    
}
    .card::after, .card--onload::after{
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 100% auto;
        background-image: url("img/stars.png");
        background-repeat: no-repeat;
        content: " ";
        transform: translateX(-50%);

    }
    .card:hover{
        cursor: pointer;
    }
    .card.card--focused {
        position: fixed;
        aspect-ratio: 595 / 842;
        width: min(992px,54vh);
        animation: expand var(--focus-time) ease forwards;
        z-index: 10;
    }
    .card.card--unfocused, .card.card--onload, #placeholder{
        position: relative;
        width: max(250px,20vh);
        height: max(250px,20vh);
        z-index: 0;
        left: 0;
        top: 0;
        transform: none;
    }

    @keyframes expand {
        0% {
            position: fixed;
            aspect-ratio: 1 / 1;
            width: max(250px,20vh);
        }
        100% {
            position: fixed;
            aspect-ratio: 595 / 842;
            width: min(992px,54vh);
            left: var(--canv-left);
            top: var(--canv-top);
        }
    }

.title {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    transform: translateX(-50%) translateY(-5px);
}

.title, #title-input{
    
    text-align: center;
    color: var(--clr-title);
    font-size: large;
    font-weight: bold;
    line-height: 20px;
    text-shadow: -1px -1px 0 var(--text-outline), 1px -1px 0 var(--text-outline), -1px 1px 0 var(--text-outline), 1px 1px 0 var(--text-outline);
}

/* 
@keyframes unexpand {
    0% {
        width: min(992px,54vh);
        height: min(1403px,75vh);
    }

    100% {
        width: max(250px,20vh);
        height: max(250px,20vh);
        
        left: var(--card-left);
        top: var(--card-top);
        transform: translateX(-50%) translateY(-50%);
    }
    
} */

.gallery {
  display: flex;
  flex: 2 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

/* paint area styling */
#canvas-area{ 
    position: fixed;
    background-color: var(--clr-overlay-transparent);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    border: 1px solid var(--clr-overlay-transparent);
    
    width: min(1300px,75vh);
    height: 80%;
    z-index: 20;
    display: flex;
}
    #canvas-area:not(.hidden){
        transition: 0.5s ease-in var(--focus-time);
    }

#canvas-bg{
    --canvas-cursor: url(img/pen-cur.png) 0 128, auto;
    --entry-id: 0;
    --image-id: 0;

    position: absolute;
    aspect-ratio: 595 / 842;
    width: min(992px,54vh);
    padding: 0;
    border: 1px solid var(--clr-card-border);
    border-radius: 10px;
    z-index: 79;
    background-color: var(--clr-card-bg);
    background-image: url(img/stars.png);
    background-size: contain;
}
#canvas{
    --canvas-cursor: url(img/pen-cur.png) 0 128, auto;
    --entry-id: 0;
    --image-id: 0;

    position: relative;
    aspect-ratio: 595 / 842;
    width: min(992px,54vh);
    padding: 0;
    border: 1px solid var(--clr-card-border);
    border-radius: 10px;
    z-index: 80;
}

#canvas:hover{
    cursor: var(--canvas-cursor);
}

#paint-area{
  display: flex;
  flex: 2 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15px;
  max-width: 100%;
  max-height:  100%;
  margin: 2.5vh auto;
  padding: 0;
}



#paint-tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    max-height: 100%;
    min-width: 7.5vh;
}

.paint-tool{
    position: relative;
    width: 7.5vh;
    height: 7.5vh;
    margin: 0 auto;
    background-color: var(--clr-tool-bg);
    cursor: pointer;
    border-radius: 10px;
    border: none;
}
.paint-tool:hover{
    background-color:var(--clr-tool-hover);
}

#pen{
    background-image: url(img/pen.png);
    background-size: contain;
}
#eraser{
    background-image: url(img/eraser.png);
    background-size: contain;
}
#brush-size{
    writing-mode: vertical-lr;
}
.canvas-container{
    width: min(992px,54vh);
    height: min(1403px,75vh);
}

#title-input{
    background: none;
    display: inline-block;
    transform: translateY(calc(-100% - 9px));
    position: relative;
    bottom: 0px;
    text-align: center;
    min-width: 50px;
    max-width: 100%;
    border: none;
    z-index: 81;
}
    #title-input:focus{
        outline: none;
    }

/* misc buttons */
.close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 5%;
  height: 5%;
  max-width: 32px;
  max-height: 32px;
  opacity: 0.3;
  cursor: pointer;
}
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    left: 50%;
    content: ' ';
    height: 100%;
    width: 6.25%;
    background-color: var(--clr-highlight);
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
    }

