*{
    margin:0;
    padding:0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

body{
    padding: min(50px, 7%);
    background-color: rgb(30, 30, 35);
}

h1{
    margin: 30px 0;
}

.hidden{
    opacity: 0; 
    pointer-events: none
}

.card, #placeholder{

    padding: 2em;
    border: 1px solid rgb(75,82,92);
    border-radius: 10px;
    background-color:#222429;
    text-align: center;
    
}
    .card:hover{
        cursor: pointer;
    }
    .card.card--focused {
        position: fixed;
        width: min(992px,54vh);
        height: min(1403px,75vh);
        animation: expand 0.5s ease forwards;
        z-index: 10;
    }
    .card.card--unfocused, #placeholder{
        position: relative;
        width: max(250px,20vh);
        height: max(250px,20vh);
        /* animation: unexpand 0.5s ease;  */
        z-index: 0;
        left: 0;
        top: 0;
        transform: none;
    }
    .card.card--onload {
        width: max(250px,20vh);
        height: max(250px,20vh);
    }

    @keyframes expand {
        0% {
            position: fixed;
            width: max(250px,20vh);
            height: max(250px,20vh);
        }
        100% {
            position: fixed;
            width: min(992px,54vh);
            height: min(1403px,75vh);
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

/* 
@keyframes unexpand {
    0% {
        width: min(992px,54vh);
        height: min(1403px,75vh);
    }

    100% {
        width: max(250px,20vh);
        height: max(250px,20vh);
        
        left: var(--card-left);
        top: var(--card-top);
        transform: translateX(-50%) translateY(-50%);
    }
    
} */

.gallery {
  display: flex;
  flex: 2 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

#canvas-area{ 
    position: fixed;
    background-color: #2e3137c3;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    border: 1px solid rgb(75,82,92);
    width: min(1300px,80vh);
    height: min(1503px,95vh);
    z-index: 20;
}
    #canvas-area:not(.hidden){
        transition: 0.5s ease-in 0.5s;
    }
#canvas{
    position: absolute;
    width: min(992px,54vh);
    height: min(1403px,75vh);
    padding: 2em;
    border: 1px solid rgb(75,82,92);
    transform: translateX(-50%) translateY(7.5%);   
    border-radius: 10px;
    transition: all 6.5s ease 6.5s;
    z-index: 80;
    background-color: antiquewhite;
}
.close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
    }

